body{
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Gelasio', serif;
    background: url(https://th.bing.com/th/id/OIP.dceS1delSlOcLz5dpYdFJwHaE8?rs=1&pid=ImgDetMain);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.drum-container{
    width: 50%;
    margin: 20% auto;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    border: 1px solid pink;
}
.keys{
    width: 9%;
    margin: 7px 4px;
    padding: 10px 0px;
    background-color: rgb(57, 44, 44);
    box-shadow: -3px 1px 14px 3px rgba(56,52,52,0.75);
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.07s;
}
kbd{
    font-size: 25px;
    display: block;
    color: #fff;
    font-family: inherit;
}
.sound{
    font-size: 9px;
    font-weight: 900;
    color: rgb(160, 160, 19);
    margin-top: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0px 0px 10px #ffc600;
}
@media screen and (max-width: 900px){
    .drum-container{
        margin-top: 40%;
        width: 85%;
        box-shadow: -1px 1px 9px 1px darkgrey;
        padding: 20px 3px;
        border-radius: 8px;
    }
    .keys{
        width: 7%;
        margin: 3px 2px;
        padding: 3px 3px;
    }
    kbd{
        font-size: 18px;
    }
    .sound{
        font-size: 5px;
        font-weight: 600px;
        letter-spacing: 0.5px;
    }
}